*

!.gitignore
!.github
!.github/**
!LICENSE
!*.md
!nob.c
!nob.h
!CMakeLists.txt

!audio
!audio/**.wav

!graphics
!graphics/**.png
!graphics/**.grit

!include
!include/**.h

!source
!source/**

.DS_Store
